In [1]:
import pandas as pd
import os

sch_file = "D:\schools_complete.csv"
stud_file = "D:\students_complete.csv"

sch_df = pd.read_csv(sch_file)
stud_df = pd.read_csv(stud_file)

sch_df.head()
stud_df.head()

sch_complete_df = pd.merge(stud_df, sch_df, how="left", on=["school_name"])

In [2]:
sch_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# District Summary

sch_name_uni = len(sch_complete_df['school_name'].unique())

total_stud = sch_df['size'].sum()

budget = sch_df['budget'].sum()

num_math = sch_complete_df[(sch_complete_df['math_score'] >= 70)].count()['student_name']

num_read = sch_complete_df[(sch_complete_df['reading_score'] >= 70)].count()['student_name']


perc_math = num_math / float(total_stud) * 100

perc_read = num_read / float(total_stud) * 100

mean_math = sch_complete_df['math_score'].mean()

mean_read = sch_complete_df['reading_score'].mean()

overall = sch_complete_df[(sch_complete_df['math_score'] >= 70) & (sch_complete_df['reading_score'] >= 70)].count()['student_name']

perc_overall = overall/ float(total_stud) * 100

dist_summary = pd.DataFrame({
    
    "Total Schools": [sch_name_uni],
    "Total Students": [total_stud],
    "Total Budget": [ '${:,}'.format(budget)],
    "Average Math Score": [mean_math],
    "Average Reading Score": [mean_read],
    "Percent Passing Math":[perc_math],
    "Percent Passing Reading": [perc_read],
    "Overall Passing Rate": [perc_overall]

})

In [4]:
dist_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

In [5]:
# School Summary

In [6]:
name_sch = sch_complete_df.set_index('school_name').groupby(['school_name'])

In [7]:
sch_type = sch_df.set_index('school_name')['type']

In [8]:
stud_index = name_sch['size'].count()

In [9]:
total_budget = sch_df.set_index('school_name')['budget']

In [10]:
stud_budget = sch_df.set_index('school_name')['budget'] / sch_df.set_index('school_name')['size']

In [11]:
av_math = name_sch['math_score'].mean()

In [12]:
av_read = name_sch['reading_score'].mean()

In [13]:
per_math_pass = sch_complete_df[sch_complete_df['math_score']>= 70].groupby('school_name')['student_name'].count() / (stud_index)

In [14]:
per_read_pass = sch_complete_df[sch_complete_df['reading_score']>= 70].groupby('school_name')['student_name'].count() / (stud_index)

In [15]:
overall_pass = sch_complete_df[(sch_complete_df['reading_score'] >= 70) & (sch_complete_df['math_score'] >= 70)].groupby('school_name')['student_name'].count() / (stud_index)

In [16]:
sch_summary = pd.DataFrame({
    "School Type": sch_type,
    "Total Students": stud_index,
    "Total School Budget":  total_budget,
    "Per Student Budget": stud_budget,
    "Average Math Score": av_math,
    "Average Reading Score": av_read,
    "Percent Passing Math": per_math_pass,
    "Percent Passing Reading": per_read_pass,
    "Overall Passing Rate": overall_pass
})

In [75]:
sch_summary.style.format({
    
    "Total Students": '{:,}',
    "Total School Budget":  "${:,}",
    "Per Student Budget": "${:.0f}",
    "Average Math Score": '{:.2f}',
    "Average Reading Score": '{:.2f}',
    "Percent Passing Math": '{:.2%}',
    "Percent Passing Reading": '{:.2%}',
    "Overall Passing Rate": '{:.2%}'
})

In [18]:
# Top Performing Schools (By % Overall Passing)

In [19]:
top_perf = sch_summary. sort_values("Overall Passing Rate", ascending = False)

In [76]:
top_perf.head().style.format({
    
    "Total Students": '{:,}',
    "Total School Budget":  "${:,}",
    "Per Student Budget": "${:.0f}",
    "Average Math Score": '{:.2f}',
    "Average Reading Score": '{:.2f}',
    "Percent Passing Math": '{:.2%}',
    "Percent Passing Reading": '{:.2%}',
    "Overall Passing Rate": '{:.2%}'

})

In [21]:
# Bottom Performing Schools (By % Overall Passing)

In [22]:
bottom_perf = top_perf.tail()

In [23]:
bottom_perf = bottom_perf.sort_values("Overall Passing Rate")

In [77]:
bottom_perf.style.format({
    
    "Total Students": '{:,}',
    "Total School Budget":  "${:,}",
    "Per Student Budget": "${:.0f}",
    "Average Math Score": '{:.2f}',
    "Average Reading Score": '{:.2f}',
    "Percent Passing Math": '{:.2%}',
    "Percent Passing Reading": '{:.2%}',
    "Overall Passing Rate": '{:.2%}'
})

In [25]:
# Math Scores by Grade

In [26]:
math_ninth = stud_df.loc[stud_df['grade'] == "9th"].groupby('school_name')["math_score"].mean()

In [27]:
math_tenth = stud_df.loc[stud_df['grade'] == "10th"].groupby('school_name')["math_score"].mean()

In [28]:
math_eleventh = stud_df.loc[stud_df['grade'] == "11th"].groupby('school_name')["math_score"].mean()

In [29]:
math_twelfth = stud_df.loc[stud_df['grade'] == "12th"].groupby('school_name')["math_score"].mean()

In [30]:
scores_math = pd.DataFrame({
    
    "9th": math_ninth,
    "10th": math_tenth,
    "11th": math_eleventh,
    "12th": math_twelfth
})

In [78]:
scores_math.index.name = ""

In [83]:
scores_math.style.format({
    
    "9th": "{:.2f}",
    "10th": "{:.2f}",
    "11th": "{:.2f}",
    "12th": "{:.2f}"
})

In [32]:
# Reading Scores by Grade

In [33]:
read_ninth = stud_df.loc[stud_df['grade'] == "9th"].groupby('school_name')["reading_score"].mean()

In [34]:
read_tenth = stud_df.loc[stud_df['grade'] == "10th"].groupby('school_name')["reading_score"].mean()

In [35]:
read_eleventh = stud_df.loc[stud_df['grade'] == "11th"].groupby('school_name')["reading_score"].mean()

In [36]:
read_twelfth = stud_df.loc[stud_df['grade'] == "12th"].groupby('school_name')["reading_score"].mean()

In [80]:
scores_read = pd.DataFrame({
    
    "9th": read_ninth,
    "10th": read_tenth,
    "11th": read_eleventh,
    "12th": read_twelfth
})

In [81]:
scores_read.index.name = ""

In [84]:
scores_read.style.format({
    
    "9th": "{:.2f}",
    "10th": "{:.2f}",
    "11th": "{:.2f}",
    "12th": "{:.2f}"
})

In [39]:
# Scores by School Spending

In [40]:
bins = [0, 584.99, 630.99, 644.99, 680.99]
spend_name = ['<$585', '$585 - 630', '$630 - 645', '$645 - 680']

In [41]:
sch_complete_df['spending_range'] = pd.cut(sch_complete_df['budget'] / sch_complete_df['size'], bins, labels = spend_name)

In [42]:
spend_group = sch_complete_df.groupby('spending_range')

In [43]:
av_math = spend_group['math_score'].mean()

In [44]:
av_read = spend_group['reading_score'].mean()

In [45]:
per_math_pass = sch_complete_df[sch_complete_df['math_score']>= 70].groupby('spending_range')['student_name'].count() / spend_group['student_name'].count()

In [46]:
per_read_pass = sch_complete_df[sch_complete_df['reading_score'] >= 70].groupby('spending_range')['student_name'].count() / spend_group['student_name'].count()

In [47]:
overall_pass = sch_complete_df[(sch_complete_df['math_score'] >= 70) & (sch_complete_df['reading_score'] >= 70)].groupby('spending_range')['student_name'].count() / spend_group['student_name'].count()

In [48]:
spend_summary = pd.DataFrame({
    "Average Math Score": av_math,
    "Average Reading Score": av_read,
    "Percent Passing Math": per_math_pass,
    "Percent Passing Reading": per_read_pass,
    "Percent Overall Passing": overall_pass
})

In [49]:
spend_summary.index.name = "Spending Ranges (Per Student)"

In [51]:
spend_summary.style.format({
    "Average Math Score": '{:.2f}',
    "Average Reading Score": '{:.2f}',
    "Percent Passing Math": '{:.2%}',
    "Percent Passing Reading": '{:.2%}',
    "Percent Overall Passing": '{:.2%}'
})

In [52]:
# Scores by School Size

In [53]:
bins = [0, 999, 1999, 99999]

In [54]:
size_name =["Small (<1000)", "Medium (1000 - 2000)", "Large(>2000)"]

In [55]:
sch_complete_df["size_range"] = pd.cut(sch_complete_df['size'], bins, labels = size_name)

In [56]:
size_group = sch_complete_df.groupby("size_range")

In [57]:
av_math = size_group['math_score'].mean()

In [58]:
av_read = size_group['reading_score'].mean()

In [59]:
perc_pass_math = sch_complete_df[sch_complete_df['math_score'] >= 70].groupby('size_range')['student_name'].count() / size_group['student_name'].count()

In [60]:
perc_pass_read = sch_complete_df[sch_complete_df['reading_score'] >= 70].groupby('size_range')['student_name'].count() / size_group['student_name'].count()

In [61]:
overall_pass = sch_complete_df[(sch_complete_df['math_score'] >= 70) & (sch_complete_df['reading_score'] >= 70)].groupby('size_range')['student_name'].count() / size_group['student_name'].count()

In [62]:
size_summary = pd.DataFrame({
    
    "Average Math Score": av_math,
    "Average Reading Score": av_read,
    "Percent Passing Math": perc_pass_math,
    "Percent Passing Reading": perc_pass_read,
    "Percent Overall Passing": overall_pass
 })

In [63]:
 size_summary.index.name = "School Size"

In [64]:
 size_summary.style.format({
    
     "Average Math Score": '{:.2f}',
     "Average Reading Score": '{:.2f}',
     "Percent Passing Math": '{:.2%}',
     "Percent Passing Reading": '{:.2%}',
     "Percent Overall Passing": '{:.2%}'
 })

In [65]:
# Scores by School Type

In [66]:
sch_type = sch_complete_df.groupby('type')

In [67]:
av_math = sch_type['math_score'].mean()

In [68]:
av_read = sch_type['reading_score'].mean()

In [69]:
perc_pass_math = sch_complete_df[sch_complete_df['math_score'] >= 70].groupby('type')['student_name'].count() / sch_type['student_name'].count()

In [70]:
perc_pass_read = sch_complete_df[sch_complete_df['reading_score'] >= 70].groupby('type')['student_name'].count() / sch_type['student_name'].count()

In [71]:
overall_pass = sch_complete_df[(sch_complete_df['math_score'] >= 70) & (sch_complete_df['reading_score'] >= 70)].groupby('type')['student_name'].count() / sch_type['student_name'].count()

In [72]:
type_summary = pd.DataFrame({
    
    "Average Math Score": av_math,
    "Average Reading Score": av_read,
    "Percent Passing Math": perc_pass_math,
    "Percent Passing Reading": perc_pass_read,
    "Percent Overall Passing": overall_pass
})

In [73]:
type_summary.index.name = "School Type"

In [74]:
 type_summary.style.format({
    
     "Average Math Score": '{:.2f}',
     "Average Reading Score": '{:.2f}',
     "Percent Passing Math": '{:.2%}',
     "Percent Passing Reading": '{:.2%}',
     "Percent Overall Passing": '{:.2%}'
 })